@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body{
    background-color: cornsilk;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 65px;
    padding: 0 8px;
}

.container{
    min-height: 72vh;
    background-color:black;
    color: aliceblue;
    font-family: 'PT Serif', serif;
    display: flex;
    width: 75%;
    margin: 21px auto;
    border-radius: 15px;
    padding: 30px;
    background-image: url('background.jpeg');
    background-position: center left;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.bottom{
    position: sticky;
    height: 120px;
    background-color:black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.songitemcontainer{
    margin-top: 60px;
}

.songItem{
    height: 50px;
    width: 125%;
    display: flex;
    background-color: rgba(233, 241, 243, 0.781);
    color: rgb(6, 6, 14);
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    font-size: 25px;
    cursor: pointer;
}
.songItem img{
    width: 50px;
    margin: 0 23px;
    border-radius: 12px;
}

.icons{
    margin-top: 17px;
}

.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.timespan{
    margin: 0 10px;
}

.songinfo{
    position:absolute;
    left: 20vh;
    font-family: 'PT Serif', serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}